.button-container{
    position: fixed;
    top: 1.5em;
    right: 1.5em;
    height: 32px;
    width: 32px;
    z-index: 99;
}

.toggle-button {
    display: flex;
    flex-direction: column;
    height: 32px;
    width: 32px;
    border: none;
    background: transparent;
    cursor: pointer;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.line-1 {
    width: 32px;
    height: 3px;
    background: white;
}

.line-2 {
    width: 32px;
    height: 3px;
    background: white;

}
.line-3 {
    width: 32px;
    height: 3px;
    background: white;
}

.toggle-button.open > .line-1{
    transform: translatey(10.5px) rotate(-45deg);
    transition: ease-out .3s;
}

.toggle-button.open > .line-2{
    opacity: 0;
    transition: ease-out .1s;
}

.toggle-button.open > .line-3{
    transform: translatey(-10.5px) rotate(45deg);
    transition: ease-out .3s;
}

.toggle-button.closed > .line-1{
    transform: translatey(0) rotate(0deg);
    transition: ease-out .3s;
}

.toggle-button.closed > .line-2{
    opacity: 100;
    transition: ease-out .6s;
}

.toggle-button.closed > .line-3{
    transform: translatey(0) rotate(0deg);
    transition: ease-out .3s;
}