.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: calc(100vh - 180px);
    overflow: auto;
  }

  @media (min-height: 600px) {
    .cart-items{
        max-height: 20rem
    }
  }

  .cart-items>li{
    color: black;
    font-size: 20px;
  }

  .cart-item {
    display: flex;
    justify-content: space-between;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
  
  .actions .button {
    width: 120px;
    height: 50px;
    background-color: red;
    color: white;
  }