.line-container {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
  }
  
  .line {
    height: 100%;
  }
  
  .animated {
    stroke-dasharray: var(--path-length, 0px);
    stroke-dashoffset: var(--path-length, 0px);
  }
  
  .animated.visible {
    animation: 3s drawLine 0.5s linear forwards;
  }
  
  @keyframes drawLine {
    from {
      stroke-dashoffset: var(--path-length, 0px);
    }
    to {
      stroke-dashoffset: 0;
    }
  }