.item-title {
    color: black;
    margin-bottom: 2rem;
}

.category-title {
    color: black;
    border-bottom: 2px solid red;
}

.category-text {
    color: black;
    font-weight: 400;
    font-family: 'Montserrat';
}

.nutrition-section {
    display: flex;
    margin: 16px 0;
}

.nutrition-value {
    display: flex;
    flex-grow: 1;
    font-family: 'Montserrat';
}

.nutrition-value::before {
  content: "";
  flex-grow: 1;
  height: 2px;
  margin-top: 1em;
  background: repeating-linear-gradient(
    to right,
    black,
    black 2px,
    transparent 1px,
    transparent 8px
  );
}

.actions {
    text-align: right;
}

.button:hover,
.button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.button {
    width: 120px;
    height: 50px;
    background-color: red;
    color: white;
    font: inherit;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    margin-left: 1rem;
    font-weight: 600;
    font-family: 'Arial';
  }