.food-section {
    padding: 2rem 1.25rem;
}

.menu {
    position: relative;
    background-color: rgb(0, 48, 70);
    top: -18vh;
    padding: 4rem 2rem;
}

.intro > h1 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.intro > p {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 0;
    text-align: center;
}

.sort-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 0;
    flex-wrap: wrap;
}

.sort-buttons>button {
    background-color: red;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.sort-buttons>button:hover,
.sort-buttons>button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.menu-categories > * {
    margin-bottom: 2rem;
}

.menu-categories h2 {
    font-size: 28px;
    font-weight: 700;
    border-bottom: 2px solid red;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.menu-items-long {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.menu-divider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-burgers-image {
    background-image: url(../../assets/burger-menu.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
}

.menu-desserts-image {
    background-image: url(../../assets/dessert-menu.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
}

.menu-specials-image {
    background-image: url(../../assets/specials-menu.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
}


@media screen and (min-width: 720px) {
    .sort-buttons {
        justify-content: flex-start;
    }

    .sort-buttons > button {
        width: 145px;
    }

    .menu-items {
        width: 50%;
    }

    .menu-divider .menu-items:only-child {
        width: 100%;
    }

    .menu-burgers-image, .menu-specials-image, .menu-desserts-image {
        width: 48%;
        height: auto;
    }

    .intro > h1 {
        text-align: left;
    }
    
    .intro > p {
        text-align: left;
    }   
}

@media screen and (min-width: 1260px) {
    .menu-items {
        width: 55%;
    }

    .menu-divider .menu-items:only-child {
        width: 100%;
    }
    
    .menu-burgers-image, .menu-specials-image, .menu-desserts-image {
        width: 40%;
        height: auto;
    }
}